#Bookcourt p{
    width: 100%;
    height: 10%;
    /* background-color: black; */
    color: var(--main-site-color);  
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 3rem
    

}
#top{
    padding-top: 5rem;
    text-align: center;
    color: var(--main-site-color);
    font-size: 2rem;
    
}
#btn{
    text-align: center;
  
    margin: auto;
    margin-top: 3rem;

}

#btn button{
    background-color:white;
    width: 15rem;
    border-radius: 50px;
    border: solid 2px var(--main-site-color);
    height: 5rem;
    color: var(--main-site-color);
    font-size: 2rem;
}

.btn-add{
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    background-color: var(--main-site-color);
    color: white;
}

#court{
   
    color:black;
    
    font-size: 2rem;
    

}

#court select{
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    
}

.date,.time{
    
   
    color: black;
    font-size: 2rem;
    font-weight: bold;


}
.date input,.time input{
   
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    margin: 10px;

}

#addPlayer{
    
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    height: 2rem;
    background-color: white;
}

#addPlayer > button{
    width: 20rem;
    border-radius: 10px;
}

#text{
    color: red;
    text-decoration: underline;
    margin-top: 2rem;
    font-weight: normal;
}
#submit{
    color: white;
    font-size: 2rem;
}
#submit >button{
    width: 10rem;
    border-radius: 50px;
    background-color: green;
    color: black;
    font-size: 1rem;
    font-family: fantasy;
    height: 2rem;
    margin-bottom: 2rem;
}
#submit >button:hover{
    cursor: pointer;
    background-color: white;
    
}
table  {
    color:  var(--main-site-color);
    font-weight: bold;
    margin: auto;
    border-collapse: collapse;
    margin-top: 5rem;
    background-color: gray;
}

table *{
    
    font-size: 2rem;
}
 #booked table , tr,td,th{
     border: 4px solid var(--main-site-color);
     padding: 1rem 2rem;
     

 }

